//-
//-   User: Dow
//-   Date: 2015/03/15
//- .container
//-     p.center(translate='LOGIN.LOADING') 权限验证...
style.
    body {
        background-image: url("res/img/login/bg.png");
        background-position-y: -48px;
    }
    .no-margin-bottom {
        margin-bottom: 0;
        padding: 0 20%;
    }

    .side-title {
        text-align: center;
        font-size: 30px;
        color: #9ddfff;
        margin-bottom: 2.7rem !important;
    }

    .cool-input {
        color: #9ddfff;
        border: 1px solid #9ddfff !important;
        margin-bottom: 2.7rem !important;
        width: calc(100% - 60px - 1.5rem) !important;
        border-radius: 3px !important;
    }

    .modal {
        background-color: rgba(17, 50, 122, 0.9)
    }
    .modal .modal-content {
        height: 100% !important;
        overflow: hidden !important;
    }

    label {
        color: #9ddfff;
    }
    input {
        color: #9ddfff;
        border: 1px solid #9ddfff !important;
        padding: 0 0.75rem !important;
        margin-bottom: 0 !important;
        box-shadow: none !important;
        height: 60px !important;
        line-height: 60px !important;
    }
    .modal .modal-content input {
        width: calc(100% - 1.5rem) !important;
    }
    .switch label .lever {
        background-color: rgba(26, 69, 162, 1)
    }

    .switch label input[type=checkbox]:checked+.lever {
        background-color: rgba(26, 69, 162, 1)
    }

    .switch label input[type=checkbox]:checked+.lever:after {
        background-color: rgba(1, 166, 255, 1)
    }

    .bg-circle {
        background-image: url('res/img/login/circle.png');
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .login-button {
        background-image: url('res/img/login/login.png');
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        height: 4rem;
        line-height: 4rem;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    .name-logo, .psw-logo {
        width: 60px;
        height: 60px;
        border: 1px solid #9ddfff;
        margin-right: .75rem;
        box-sizing: content-box;
    }

    .name-logo {
        background-image: url('res/img/login/name.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .psw-logo {
        background-image: url('res/img/login/psw.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .flex {
        display: flex;
    }


.container(style="height: calc(100vh - 64px);")
    .row.bg-circle
        .col.s12.l12.side-title 数据中心基础设施监控平台
        .col.s12.m12.l6.offset-l3
            .row.no-margin-bottom
                .col.s12.flex
                    .name-logo
                    input#user.cool-input(type='text', ng-model='vm.user.username', placeholder='用户名')
                .col.s12.flex
                    .psw-logo
                    input#password.cool-input(type='password', ng-model='vm.user.password', ng-keyup='vm.onKeyUp($event)', placeholder='密码')
                .col.s12
                    .login-button(ng-click='vm.logon()')
                        span 登录
                .col.s12
                    a.right.modal-trigger(style="color: #9ddfff;" href='#userregister-modal', ng-click='selectStation(station)')
                        span 注册


#userregister-modal.modal.modal-fixed-footer(md-modal,style="width: 80%;")
    .modal-content
        .row
            .col.s12.m6.l6
                label 用户ID
                .input-field
                    input.validate(type='text' ng-model='vm.user.user' required)
            .col.s12.m6.l6
                label 用户名
                .input-field
                    input.validate(type='text' ng-model='vm.user.name' required)
            .col.s12.m6.l6
                label 邮件
                .input-field
                    input.validate(type='email' ng-model='vm.user.email' required)
            .col.s12.m6.l6
                label 电话
                .input-field
                    input.validate(type='text' ng-model='vm.user.phone' required)
            .col.s12
                label 密码
                .input-field
                    input.validate(type='password' ng-model='vm.user.password' required)
            .col.s12
                label 确认密码
                .input-field
                    input.validate(type='password' ng-model='vm.user.confirmPassword' required)
            .col.s12.m6.l12
                md-switch(ng-model='vm.user.private', label-off='公开用户', label-on='私有用户',style="margin-left:10px;" )

            .col.s12.m6.l12(style="margin-top: 2%;")
                .btn-group.center
                    a.btn.cool-btn.waves-effect.waves-light(href='', ng-click='vm.register()', title='注册')
                        i.material-icons.left save
                        span.hide-on-med-and-down 注册
                    a.btn.cool-btn.waves-effect.waves-light.modal-action.modal-close(href='',title="关闭")
                        i.material-icons.left close
                        span.hide-on-med-and-down 关闭