.header
    .row
        nav.z-depth-0.header-bg
            .nav-wrapper
                .logo
                .title
                    img(src="{{setting.urls.uploadUrl}}/{{equipment.image}}")
                    .en-name {{equipment.model.desc}}
                .time